<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo.png" alt="Logo de MercadoLiebre">
                </div>     
                <nav class="menu-nav">
                    <ul class="menu-1">
                        <li><a href="#">Plantas</a></li>
                        <li><a href="#">Macetas</a></li>
                        <li><a href="#">Contactos</a></li>
                    </ul>
                    <ul class="menu-2">
                        <li><a href="/login.html"> <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#"> <i class="fas fa-shopping-basket"></i></a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>
        <section class="banner">
            <img src="images/banner.png" alt="Banner de ofertas">
        </section>
        <main>
        
        <div class="titulo-ingreso-datos">
            <h2 > Ingresa tus datos:</h2>
        </div>
            
        <div class="ingreso-datos">
            
            <div class="ingreso-usuario">
                <h3> Usuario</h3>
                <div class="form" action="#" method="GET">
                    <div class="input">Usuario</div>
                </div>
            </div>

            <div class="ingreso-clave">
                <h3> Clave</h3>
                <div class="form" action="#" method="GET">
                    <div class="input">Clave</div>
                </div>
            </div>

            <div class="botones-ingresar-nuevo">
                <button class="boton-ingresar" name="Ingresar">Ingresar</button>
                <button class="boton-nuevo" name="Nuevo usuario"><a href=/register>Nuevo usuario</a></button>
            </div>

        </div>
            
        </main>

        <footer>

                <div class="logo"> 
                    <img src="images/logo.png" alt="Logo de MercadoLiebre">
                </div>     
                <nav class="menu-nav">
                    <ul class="menu-1">
                        <li><a href="#">Plantas</a></li>
                        <li><a href="#">Macetas</a></li>
                        <li><a href="#">Contactos</a></li>
                    </ul>
                    <ul class="menu-2">
                        <li><a href=/login> <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#"> <i class="fas fa-shopping-basket"></i></a></li>
                        
                    </ul>
                </nav>
            
        </footer>
        
    </body>
</html>