*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.top-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 20%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.logo img {
    max-width: 50px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

footer, 
header{
    background-color: #46914e;
}


header nav{
    font-size: 12px;
}

footer ul li, 
header ul li{
    list-style-type: none;
}

footer ul li a, 
header ul li a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.773);
    transition: all 0.5s;
}

header ul li a:hover {
    color: black;
    font-size:20px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    margin-top: 20px;
}

.banner {
    display: flex;
    justify-content: center;
}

section.banner img{
    width: 80%;
    max-width: 800px;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{

    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:87%;
    top: -30px;

}

main section h3{
    margin: 20px 0px;
}

.precio-desc {
    display: flex;
}

.price {
    flex-grow: 0.3;
}

.discount {
    flex-grow: 0.7;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products article {
    width: 90%;
}


main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
 
    .description {
        display: block;
    }





    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
    



    .menu-nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
       }
    
    .menu-1 {
        color: white;
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: center;
    }

    .menu-2 {
        display: flex;
        width: 20%;
        justify-content: space-around;
    }

    .menu-2 i {
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: rgb(199, 130, 130);
    border-radius: 50%;
    color: whitesmoke;
    transition: all 0.5s;
    }

    .menu-2 i:hover {
        transform: scale(1.5);
        background-color: red;
        color: #46914e;
    }

    .ingreso-datos {
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .ingreso-datos div {
        width: 100%;
        display: flex;
    }

    .ingreso-datos div input {
        width: 100%;
        padding: 10px;
        margin: 10px;
        
    }

    .botones {
        display: flex;
    }

    .boton_enviar, .boton_reset {
        transition: all 0.5s;
        width: 30px;;
    }

    .boton_enviar:hover {
        background-color: #46914e;
        color: white;
    }


    .boton_reset:hover {
        background-color: red;
        color: white;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    footer p {
        color:rgba(245, 245, 245, 0.773);
        size: 15px;
        margin: 10px;
    }

    .menu-1 {
        visibility: hidden;
    }


    .burger-menu{
        text-align: center;
    }
    
    .burger-menu i{
        background-color: rgb(199, 130, 130);
        border-radius: 5px;
        width: 70%;
        color: #FFF;
        font-size: 15px;
        height: 35px;
        margin: 10px 0px 20px 0px;
        padding: 10px;
        width: 40px;
    }



@media (min-width:470px) {

    .products article {
        width: 40%;
    }
    

    .menu-nav {
        width: 70%;
    }

    .menu-1 {
        visibility: visible;
    }

    .burger-menu {
        display: none;
        border: red dotted;
    }

}


@media (min-width:770px) {

    .products article {
        width: 20%;
    }

    .menu-1 {
        width: 40%;
    }

}