*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #fbf5ee;
}

h2 {
    font-size: 14px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.burger-menu, .logo, .menu-nav {
    width: 15%;
}

.logo {
    width: 20%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.contenedor{
    margin-top: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.imagen_nombre{
    position: absolute;
    top: 30px;
    left: 10px;
    
}

.contenedor img {
    height: 100%;
    max-width: 350px;
    object-fit: cover;
}

.presentacion{
    position: absolute;
    top:60%;
    box-sizing: content-box;
    width: 45%;
    text-align: initial;
    margin: 10px;
}

.logo img {
    width: 25px;
}

.shop h3 {
    padding: 10px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.web {
    font-size: 16px;
    color:#004b45
}

.nombre {
    width: 100%;
    align-items: center;
}

footer, 
header{
    background-color: #68a99a;
}


header nav{
    font-size: 12px;
}

footer ul li, 
header ul li{
    list-style-type: none;
}

footer ul li a, 
header ul li a, header p{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.773);
    transition: all 0.5s;
}

header ul li a:hover {
    color: black;
    font-size:20px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    margin-top: 10px;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: center;
}

section.banner img{
    width: 80%;
    max-width: 800px;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section .products article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section .products article i,
.discount{
    color: #004b45;
}

main section .products article i{
    display: flex;
    font-size: 25px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    left:45%;
    top: -15px;

}

main section h3{
    margin: 20px 0px;
}

.precio-desc {
    display: flex;
    text-align: center;
}

.price {
    flex-grow: 0.7;
}

.discount {
    flex-grow: 0.9;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products article {
    width: 90%;
}


main section .products article{
        box-shadow: 0px 0px 10px rgb(145, 134, 134);
    }
 
    .description {
        display: block;
    }





    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
    



    .menu-nav {
        width: 30%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
       }
    
    .menu-1 {
        color: white;
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: center;
    }

    .menu-2 {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .menu-2 li {
        display: flex;
        
        width: 40%;
        justify-content: center;

    }

    .menu-2 i {
        display: flex;
        font-size: 10px;
        padding: 5px;
        justify-content: center;
        width: 22px;
        height: 22px;
        color: whitesmoke;
        transition: all 0.5s;
    }

    /*.menu-2 i:hover {
        transform: scale(1.5);
        background-color: red;
        color: #46914e;
    }*/

    .ingreso-datos {
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        
    }

    .ingreso-datos div {
        width: 100%;
        display: flex;
        
    }

    .ingreso-datos div input {
        width: 100%;
        padding: 5px;
        margin: 5px;
        
    }

    div.botones {
        margin: auto;
        display: flex;
        width: 80%;
    }

    .boton_enviar, .boton_reset {
        transition: all 0.5s;
        width: 20px;
    }

    .boton_enviar:hover {
        background-color: #004b45;
        color: white;

    }


    .boton_reset:hover {
        background-color: red;
        color: white;
    }

    .noticias {
        display: flex;
        margin: 10px;
    }


    footer {
        display: flex;
        justify-content: space-around;
    }

    footer p {
        color:rgba(245, 245, 245, 0.773);
        size: 15px;
        margin: 10px;
        font-size: 10px;
    }

    .menu-1 {
        display: none;
    }


    .burger-menu{
        text-align: center;
    }
    
    .burger-menu i{
        background-color: rgb(199, 130, 130);
        border-radius: 2px;
        width: 70%;
        color: #FFF;
        font-size: 10px;
        height: 15px;
        margin: auto;
        padding: 5px;
        width: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    header p {
        display: none;
    }

    main form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
    }
    
    main button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 24px;
    }

    .nombre-precio {
        display: flex;
        flex-direction: column;
        font-size: 24px;
    }

    .precio-planta {
        display: flex;
        font-size: 18px;
    }
    
    .cantidad {
        display: flex;
        width: 50%;
    }

    .total {
        display: flex;
        justify-content: center;
        align-items: center;
    }


@media (min-width:470px) {

    .products article {
        width: 40%;
    }
    

    .menu-nav {
        width: 70%;
    }

    .menu-1 {
        display: flex;
    }

    .menu-2 {
       width: 30%;
    }

    .burger-menu {
        display: none;
        border: red dotted;
    }

}


@media (min-width:770px) {

    .products article {
        width: 20%;
    }

    .menu-1 {
        width: 40%;
    }

    header p {
        display: inline;
    }

}