<section class="nombre">
    <div class="contenedor">
        <div class="slogan">
            <p>Deja que la energía de las plantas inunde tu vida</p>
        </div>
        <div class="presentacion">    
            <p class="texto_web">
                Somos un sitio web dedicado al cuidado de plantas de interior y exterior.
                Encontramos objetos unicos para cada persona, pensados en la naturaleza y la sensibilidad.
             </p>
        </div>
    </div>
    <img src="images/main.webp" alt="planta1" class="main_img">
</section>