<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        
        <div class="titulo-ingreso-datos">
            <h2 > Registra tus datos:</h2>
        </div>
            
        <form class="ingreso-datos" action="/user/register" enctype="multipart/form-data" method="POST">
            
            <div><input type="text" name="nombre" placeholder="Nombre"></div> 
            <div><input type="text" name="apellido" placeholder="Apellido"></div> 
            <div><input type="email" name="email" placeholder="Correo"></div> 
            <div><input type="password" name="password" placeholder="Contraseña"></div> 
            <div><input type="file" name="imagen" placeholder="Imagen"></div>
            <div class="botones">
                <div><input class="boton_enviar" type="submit" value="Enviar"></div>
                <div><input class="boton_reset" type="reset" value="Borrar"></div>
            </div>
        
        </form>



        <br>
        <br>
        <br>
        
        </main>

        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>